


@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App {
  text-align: center;
  width: 650px;
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: 500;
  color:#fefefe;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigator{
  background: #FFF9D5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 650px;
}

.click-me{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.talam{
  width: 40%;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Caveat', cursive;
  display: flex;
  align-items: center;

}
button{
  border: 2px solid #f2bc80;
  background: #ff9a29;
  width: 210px;
  height: 70px;
  border-radius: 2px;
  color: white;
  margin-right: 50px;
  font-family: 'Varela Round', sans-serif;
}

button:hover{
  cursor: pointer;
  background: #3a96c6;
}

a{
  text-decoration: none;
  font-size: 0.8rem;
  color: #272E4B;
  font-weight: 600;
}

.logo{
  width: 40px;
  margin-right: 2px;
}

.latam{
  width: 50px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:hover{
  cursor: pointer;
  color: lightcoral;
}
